.search {
    background-color:  #2b3566;
    padding: 0.5rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    
   
}
 .search h2 {
    margin: 20px;
 }
 

 
.search p {
    color:white;


}
.search_container {
    display: flex;
    gap:0.5rem;
    justify-content: center;
    margin: 20px;
}

.search_container input, .search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
    
}
.search_container button {
    background-color: #0e1129;
    cursor: pointer;
}
@media (max-width: 768px){
    .search_container {
        font-size: 0.75rem;
    }
}

@media (max-width:480px) {
    .search_container {
        font-size: 0.75rem;
    }
}